.footer {
	@extend %aling;
	@include padding(60px,60px);
	background-color: var(--auxiliary-color);
}
.footer__logotype {
	display: block;
	margin-bottom: 20px;

	font-family: var(--second-type);
	@include font(26px,700,30px);
	text-decoration: none;
	color: var(--accent-color);
	&:hover, &:focus{
		color:var(--staple-color);
	}
}

.footer__source{
	&:not(:last-child){
	margin-bottom: 9px;
}
}

.contact-map {
	width:240px;
	@include font(14px,400,24px);
	color: var(--staple-color);
	transition-property: color;
	transition-duration:var(--transition-duration);
	transition-timing-function:var(--transition-function);
&:hover,
&:focus {
	color: var(--accent-color);
}
}

.address {
	width: 231px;
	font-style: normal;
	line-height: 1.71;
	transition-property: color;
	transition-duration:var(--transition-duration);
	transition-timing-function:var(--transition-function);
	
	&:hover,
	&:focus {
	color: var(--accent-color);
}
}
.contact-mail,.contact-phone{
	color: var(--plus-color);
	transition-property: color;
	transition-duration:var(--transition-duration);
	transition-timing-function:var(--transition-function);
}
.contact-mail:hover,.contact-mail:focus,
.contact-phone:hover,.contact-phone:focus{
	color: var(--accent-color);
}
.footer__items{
	margin-bottom: 20px;
	font-family:var(--main-type);
	@include font(14px,700,16px);
	letter-spacing: var(--main-letter-spacing);
	text-transform: uppercase;
	color: var(--staple-color);
}
.footer__main{
	justify-content: center;
	display: flex;
	gap:10px;
}
.footer-icons{
	align-items: center;
	justify-content: center;

	
}
.footer-base{
	
	text-align: center;
}
.footer__list-link{
	display: flex;
    align-items: center;
  
    align-content: center;
    flex-wrap: wrap;
	justify-content:center;
	align-content:center;
	flex-wrap: wrap;
	@include dimensions(44px,44px);
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	fill:var(--staple-color);
	transition-property:background-color;
	transition-duration:var(--transition-duration);
	transition-timing-function:var(--transition-function);

	&:hover,
	&:focus{
	background-color: var(--accent-color);
}
}
	.footer__svg{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		border-radius: 50%;
	 	background-color: rgba(255, 255, 255, 0.1);
		fill: #FFFFFF;
		transition: background-color var(--transmition-time) var(--transition-function);

}
@media screen and (max-width: 767px){

	.footer-base{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	 }
	 
	 .footer-hookup{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin-bottom: 60px;
	 }
	 .footer__source{
		justify-content: center;
	
	 }
	 .footer__items{
		text-align: center;
	 }

	 .footer__modal-information{
		margin-top: 60px;
	 }
	 .footer-icons{
	margin-left: 0;
	margin-top: 60px;
	 }
	 .footer__main{
		justify-content: center;
		
	 }
}
@media screen and (min-width:768px) and (max-width:1199px){

	.footer-hookup{
		display: block;
		text-align: center;
	}
	.footer-icons{
		display: block;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-top: 0;
	}
	.footer-hoiku{
		display: flex;
		justify-content:space-around;
		align-items: baseline;
		text-align: center;
	}

}

@media screen and (min-width:1200px){
	.footer-hoiku{
		justify-content: space-between;
		display: flex;
	}
	.footer-icons{
		display: block;
		text-align: center;
	}
	.footer-base{
		justify-content: space-between;
		display: flex;
		align-items: baseline;
	}
	.footer-hookup{
		margin-right: 70px;
	}

}